<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <hostnameMappingService type="Sitecore.Modules.EmailCampaign.Core.HostnameMapping.HostnameMappingService, Sitecore.EmailCampaign" set:type="Sitecore.Support.Modules.EmailCampaign.Core.HostnameMapping.HostnameMappingService, Sitecore.Support.214845"/>
    </sitecore>
</configuration>